//aaaa ICON "wx/msw/std.ico"

#include "wx/msw/wx.rc"
IDI_APP_TLMC ICON "../src/source/rc/TrayLauncher.ico"
IDI_UNKNOWN ICON "../src/source/rc/unknown.ico"
IDI_FOLDER ICON "../src/source/rc/close.ico"
IDI_FOLDER_OPEN ICON "../src/source/rc/open.ico"
