#define APSTUDIO_READONLY_SYMBOLS 0
#define IDC_STATIC -1
#define IDC_VERSION -1
#define IDC_COPYRIGHT -1

#include <windows.h>
#include "resource.h"

IDI_TRAYSTART ICON DISCARDABLE "TrayLauncher.ico"
IDI_SMALL ICON DISCARDABLE "small.ico"
IDI_CLOSE ICON DISCARDABLE "close.ico"
IDI_OPEN ICON DISCARDABLE "open.ico"
IDI_SKIN ICON DISCARDABLE "skin.ico"
IDI_REFRESH ICON DISCARDABLE "refresh.ico"
IDI_EXIT ICON DISCARDABLE "exit.ico"
IDI_PENCIL ICON DISCARDABLE "pencil.ico"
IDI_EDIT ICON DISCARDABLE "edit.ico"
IDI_RIGHT ICON DISCARDABLE "right.ico"
IDI_UNKNOWN ICON DISCARDABLE "unknown.ico"
IDI_OPTION ICON DISCARDABLE "option.ico"
IDI_LNG ICON DISCARDABLE "lng.ico"

IDD_ABOUTBOX DIALOGEX 22,17,222,75
CAPTION "About Tray Launcher"
FONT 9,"Arial",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "",IDI_TRAYSTART,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,0,15,10,32
  CONTROL "Tray Launcher  V 2.6.0", IDC_VERSION,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,48,9,96,8
  CONTROL "Author:  Li Chao",IDC_COPYRIGHT,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|0x00000040,48,24,129,8
  CONTROL "E-mail:  traylauncher@gmail.com",IDC_EMAIL,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,48,39,119,8
  CONTROL "http://code.google.com/p/traylauncher",IDC_WEB,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP,48,54,160,10
  CONTROL "X",IDC_X,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,201,3,16,15
END

IDD_RUN DIALOGEX 5,4,211,50
CAPTION "Execute"
FONT 10,"Arial",400,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW|WS_EX_TOPMOST
BEGIN
  CONTROL "Execute",IDC_BTNRUN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,168,27,38,15
  CONTROL "",IDC_CBORUN,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_AUTOHSCROLL|CBS_DROPDOWN,3,28,161,111
  CONTROL "#0",IDC_IMG_ICON,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_NOTIFY|SS_ICON,5,4,19,17
  CONTROL "",IDC_EDT_PATH,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_NOHIDESEL|ES_AUTOHSCROLL,29,7,175,12
END

1 MANIFEST "TrayLauncher.exe.manifest"

