<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="TLMenuCfgDialog">
		<title>Tray Launcher Command Editor</title>
		<centered>1</centered>
		<size>693,416</size>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer2" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="m_stcMenu" member="yes">
											<label>&quot;Menu&quot;</label>
										</object>
										<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxSearchCtrl" name="ID_SEARCHCTRL1" variable="m_search" member="yes">
											<size>85,22</size>
											<style>wxTE_PROCESS_ENTER</style>
											<handler function="OnSearchTextChange" entry="EVT_TEXT" />
											<handler function="Onm_searchTextEnter" entry="EVT_TEXT_ENTER" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer8" member="no">
									<object class="sizeritem">
										<object class="wxTreeCtrl" name="ID_TREECTRL_MENU" variable="m_TreeMenu" member="yes">
											<size>198,372</size>
											<style>wxTR_HIDE_ROOT|wxTR_DEFAULT_STYLE</style>
											<handler function="OnTreeMenuBeginDrag" entry="EVT_TREE_BEGIN_DRAG" />
											<handler function="OnTreeMenuEndDrag" entry="EVT_TREE_END_DRAG" />
											<handler function="OnTreeMenuSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
											<handler function="OnTreeMenuSelChanging" entry="EVT_TREE_SEL_CHANGING" />
										</object>
										<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer5" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="m_btnUp" member="yes">
													<bitmap stock_id="wxART_GO_UP" />
													<handler function="OnbtnUpClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="m_btnDown" member="yes">
													<bitmap stock_id="wxART_GO_DOWN" />
													<default>1</default>
													<handler function="OnbtnDownClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="m_btnNewDir" member="yes">
													<bitmap stock_id="wxART_NEW_DIR" />
													<default>1</default>
													<handler function="OnbtnNewDirClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="m_btnNewItem" member="yes">
													<bitmap stock_id="wxART_NEW" />
													<default>1</default>
													<handler function="OnbtnNewItemClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="spacer">
												<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
												<size>20,23</size>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="m_btnDel" member="yes">
													<bitmap stock_id="wxART_DELETE" />
													<default>1</default>
													<handler function="OnbtnDelClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
										<flag>wxTOP|wxBOTTOM|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer7" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer9" member="no">
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX4" variable="m_flgMenu" member="yes">
											<label>IsSubMenu</label>
											<enabled>0</enabled>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX5" variable="m_flgSep" member="yes">
											<label>IsSeperater</label>
											<enabled>0</enabled>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer11" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer10" member="no">
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT1" variable="m_stcTarget" member="yes">
													<label>Target</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_flgWildCard" member="yes">
													<label>IsWildCard (*Mode)</label>
													<enabled>0</enabled>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer17" member="no">
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_txtTarget" member="yes">
													<value>Text</value>
													<maxlength>512</maxlength>
													<size>456,24</size>
													<handler function="OntxtTargetText" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" variable="m_btnFindTarget" member="yes">
													<bitmap stock_id="wxART_FILE_OPEN" />
													<default>1</default>
													<handler function="OnbtnFindTargetClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer13" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer12" member="no">
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT3" variable="m_stcNameFilter" member="yes">
													<label>Name / Filter</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX2" variable="m_flgTitle" member="yes">
													<label>IsTitle</label>
													<enabled>0</enabled>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer18" member="no">
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="m_txtNameOrFilter" member="yes">
													<value>Text</value>
													<maxlength>128</maxlength>
													<handler function="OntxtNameOrFilterText" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer15" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer14" member="no">
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_stcCustomizeIcon" member="yes">
													<label>Customize Icon</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer19" member="no">
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="m_txtIcon" member="yes">
													<value>Text</value>
													<maxlength>256</maxlength>
													<handler function="OntxtIconText" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>3</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapComboBox" name="ID_BITMAPCOMBOBOX1" variable="m_cbIcon" member="yes">
													<image_list>&lt;none&gt;</image_list>
													<size>47,23</size>
													<style>wxCB_READONLY</style>
													<handler function="Onm_cbIconSelected" entry="EVT_COMBOBOX" />
												</object>
												<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON7" variable="m_btnFindIcon" member="yes">
													<bitmap stock_id="wxART_FILE_OPEN" />
													<handler function="OnBitmapButton2Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer16" member="no">
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON3" variable="m_btnSave" member="yes">
											<label>Save</label>
											<handler function="OnbtnSaveClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON4" variable="m_btnReload" member="yes">
											<label>Reload</label>
											<handler function="OnbtnReloadClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="spacer">
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer6" member="no">
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON2" variable="m_btnClose" member="yes">
											<label>Close</label>
											<handler function="OnQuit" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON7" variable="m_btnApply" member="yes">
											<label>Apply</label>
											<enabled>0</enabled>
											<handler function="OnbtnApplyClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
